.my-btn {
  border-style: none;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
}
.my-btn-lg {
  padding: 5px 30px;
}

.my-btn-blue {
  background: linear-gradient(
    90deg,
    rgba(6, 159, 205, 1) 16%,
    rgba(31, 61, 130, 1) 100%
  );
}
.my-btn-red {
  background: linear-gradient(
    90deg,
    rgba(184, 38, 110, 1) 11%,
    rgba(243, 93, 107, 1) 100%
  );
}
.my-btn-white {
  background: white;
}

.my-red-title {
  color: #ef5a6c;
}
