.my-btn {
  border-style: none;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
}
.my-btn-lg {
  padding: 5px 30px;
}

.my-btn-blue {
  background: linear-gradient(
    90deg,
    rgba(6, 159, 205, 1) 56%,
    rgba(30, 65, 132, 1) 82%
  );
}
.my-btn-red {
  background: #ef5a6c;
}
.my-btn-white {
  background: white;
}

.my-red-title {
  color: #ef5a6c;
}
